.semaforo {
  width: 120px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
  transition: background-color 0.5s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all; /* Impede a interação com o conteúdo quando bloqueado */
}

/* Outras Estilizações */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(top, #222, #333);
}
